{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4 text-center">Liste complète des établissements</h1>

        {% include 'etablissement/table.html.twig' %}
    </div>
{% endblock %}
